.advantages-inner__row {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.advantages__title {
    position: absolute;
    top: 0;
    line-height: 42px;
    color: $fon-red;
    font-size: 36px;
}

.advantages__title--bottom {
    right: 0;
    bottom: 0;
    top: auto;
}

.advantages__text {
    width: 303px;
}

.advantages__text ul {
    list-style: none;
}

.advantages_descr {
    max-width: 570px;
    width: 100%;
}