.design__images {
    margin-bottom: 100px;
}

.design-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.design-row__item {
    max-width: 570px;
    width: 100%;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.design-row__item-num {
    color: $fon-red;
}

.design-row__item-text {
    max-width: 430px;
    padding-top: 25px;
}