.footer {
    background-color: #690102;
    padding: 83px 0 20px;
}

.footer-btn {
    text-align: center;
    margin-bottom: 83px;
}

.footer-copy {
    text-align: center;
    font-weight: 700;
}

.footer-copy ul {
    list-style: none;
}

.footer-copy li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.footer-copy li+li::before {
    content: "|";
    position: absolute;
    left: -5px;
}