.menu {
    background-color: #000;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: all .6s;
    z-index: 10;
}

.menu.active {
    left: 0;
}

.container-menu {
    position: relative;
}

.close-btn {
    width: 50px;
    height: 50px;
    background-color: #000;
    position: absolute;
    right: 15px;
    top: 31px;
    cursor: pointer;
}

.close-btn::before,
.close-btn::after {
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    transform-origin: left;
}

.close-btn::before {
    transform: rotate(-45deg);
    bottom: -1px;
}

.close-btn::after {
    transform: rotate(45deg);
}

.menu__list {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu__list ul {
    list-style: none;
}

.menu__list a {
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    padding: 30px 25px 14px 0;
    border-bottom: 3px solid $fon-red;
    display: inline-block;
    min-width: 368px;
    transition: all .5s;
}

.menu__list a:hover {
    border-color: #fff;
    color: $fon-red;
    transform: scale(1.2);
    margin-left: 37px;
}