.statistics {
    margin: 160px 0 100px;
    text-align: center;
}

.statistics-items {
    display: flex;
    justify-content: space-around;
}

// .statistics-item {}
.statistics-item__title {
    margin-bottom: 19px;
}

.statistics-item__num {
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 7px;
    font-family: 'Roboto', serif;
}

.statistics-item__num span {
    font-size: 24px;
    line-height: 28px;
    margin-left: 10px;
}

.statistics-item__descr {
    color: $fon-red;
}

.statistics-item__num--speed span {
    display: inline-block;
    position: relative;
}

.statistics-item__num--speed span::before {
    content: "+";
    position: absolute;
    top: -60px;
}